:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand: #819b57;
  --color-brand-dark: #465929;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Popins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */

.button {
  font-weight: 600;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.link {
  color: var(--color-primary-light);
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
}

.link:hover {
  color: var(--color-brand);
  font-weight: 600;
}

/* Hero Section */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  font-family: sans-serif;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand);
}

/* Advantages Section */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-primary-dark);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* Traditions section */
.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

/* Chef section */
.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* Format section */
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/*Contact Section */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */
.adress-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand);
}

.address-copyright-text {
  font-size: 14px;
}
